@media (width<=430px) {
    body{
        background-color: red;
    }
    .calculator{
        background: rgb(39, 39, 52);
        padding: 10px;
        border-radius: 5px;
    }
    .calculator form input{
        border: 0;
        outline: 0;
        width: 20px;
        height: 18px;
        border-radius: 5px;
        box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.1),3px 3px 8px rgba(255, 255, 255, 0.2);
        background: transparent;
        font-size: 13px;
        color: white;
        cursor: pointer;
        margin: 8px;
    }
    form .display{
        display: flex;
        justify-content: flex-end;
        margin: 15px 0;
        border: 2px solid blanchedalmond;
        box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.1),3px 3px 8px rgba(255, 255, 255, 0.2);
    }
    form .display input{
        text-align: right;
        flex: 1;
        font-size: 25px;
        box-shadow: none;
    }
    form input.equal{
        width: 42px;
        font-size: 28px;
    }
    p{
        background: transparent;
        background: rgb(55, 1, 55);
        margin-bottom: 10px;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:brown;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(55, 1, 55);
}
.calculator{
    background: rgb(39, 39, 52);
    padding: 20px;
    border-radius: 10px;
}
/* input:hover {
    background-color: pink;
} */
.calculator form input{
    border: 0;
    outline: 0;
    width: 64px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(255, 255, 255, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border: 2px solid blanchedalmond;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(255, 255, 255, 0.2);
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    font-size: 40px;
}
p{
    background: transparent;
    background: rgb(55, 1, 55);
    
}
#ac{
    background-color: red;
}